/* =========================================

VIEWS/WRANGLER.LESS

=========================================*/

#page-wrangler {
  	background: #000;
  	.hero {
		background: url(../img/wrangler/wrangler-main.jpg) no-repeat 50% 0px;
		margin-top: 60px;
		height: 511px;
		.heroHeader{
			background: url(../img/wrangler/heroHeading.png) no-repeat;
			width: 100%;
			height: 118px;
			margin-top: 30px;
		}
		.heroBox{
			padding: 15px;
			margin-top: 25px;
			left: 0px !important;
			
			background-color: rgba(0, 0, 0, 0.5);
			position: relative;
			color: #d3d3d3;
			border-radius: @roundedCorners;
			max-width: 285px;
			p {
				font-size: 15px;
				line-height: 24px;
			}
		}
	}
}